<style type="text/css"><!--
a:link{text-decoration:none;color:#FF80C0}
a:visited {text-decoration:underline;color:#FF8040}
a:active{text-decoration:none;color:#FF80FF}
a:hover{text-decoration:underline;color:#FF240C}
--></style>